# Environment
.env
env.php

# Data
data/
!data/.gitkeep

# IDE
.idea/
.vscode/
*.swp
*.swo
.phpactor.json

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Dependencies
/vendor/
node_modules/

# Misc
.phpunit.result.cache

# Deploy
.deploy/
*.lftp
!example.lftp
